[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flasgger = "*"
flask-marshmallow = "*"
apispec = "*"
python-dotenv = "*"
flask_sqlalchemy = "*"
flask-jwt-extended = "*"
flask_jwt_extended = "*"
flask_cors = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
